.editSeriesContainer {
    background-color: #ddd;
    margin: auto;
    max-width: 800px;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.editSeriesContainer .header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-top: -2rem;
}

.editSeriesContainer input[type="text"],
.editSeriesContainer textarea {
    width: 400px;
    outline: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #8e8e8e;
}

.editSeriesContainer textarea {
    height: 150px;
    resize: none;
    font-family: inherit;
}

.editSeriesContainer .content {
    display: flex;
}


.editSeriesContainer .column {
    flex: 1;
}

.editSeriesModal .column p,
.editSeriesModal .seriesBox p {
    margin-top: 0px;
}

.editSeriesContainer .column.left {
    width: 200px;
    margin-right: 10px;
}

.editSeriesContainer .column.right {
    padding: 10px;
    padding-top: 0px;
    text-align: center;
}

.editSeriesContainer .column.right label {
    text-align: left;
    display: block;
}


.editSeriesContainer .seriesBox {
    padding: 8px;
}

.editSeriesContainer .seriesBox label {
    margin-left: 10px;
}

.editSeriesVolumes {
    list-style: none;
    padding-left: 10px;
    font-size: 0.9rem;
    box-sizing: initial;
}

.editSeriesModal .addStory>svg {
    font-size: 1.2em !important;
}

.editSeriesVolumes>div {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editSeriesVolumes>div:hover {
    cursor: grab;
    color: #151515;
}

.editSeriesVolumes .storyButtons {
    margin-left: auto;
}

.editSeriesVolumes .storyButtons svg {
    box-sizing: initial;
}

.editSeriesVolumes .seriesIcon {
    width: 50px;
    text-align: right;
}

.editSeriesVolumes img {
    max-height: 50px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #333;
}

.editSeriesVolumes span {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .editSeriesModal .content {
        flex-direction: column;
    }

    .editSeriesModal .column.left {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .editSeriesModal .column.right input {
        width: 100%;
    }
}