.associationPanel .associationHeader {
  padding: 20px;
}

.associationPanel .associationHeader .associationName {
  text-align: left;
  font-size: 1.1rem;
  width: 100%;
  line-break: anywhere;
  font-weight: normal;
  letter-spacing: 1.1px;
  font-weight: bold;
}

.associationPanel .associationHeader .associationName .type {
  font-weight: bold;
}

.associationPanel .associationPortrait {
  text-align: center;
}

.associationPanel .associationDetails {
  margin: 10px;
}

.associationPanel .detailBubble h4 {
  margin: 0;
}

.associationPanel .detailBubble .activeLabel {
  color: #1976d2;
  transition: color 300ms linear;
}

.associationPanel .detailBubble .inactiveLabel {
  color: inherit;
  transition: color 300ms linear;
}

.associationPanel .editorInput {
  border: 1px dotted #333;
  color: #333;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  background-color: #F9F9F9;
  margin-bottom: 20px;
  outline: none;
  font-size: 0.9rem;
}

.associationPanel .editorInput.activeField {
  border: 1px dashed #333;
  background-color: #DBDBDB;
  transition: background-color 300ms linear;
}

.associationPanel .editorInput.inactiveField {
  background-color: #F9F9F9;
  transition: background-color 300ms linear;
}

.associationPanel .textInput {
  border: 1px dotted #333;
  outline: none;
  border-radius: 10px;
  background-color: #F9F9F9;
  color: #333;
  margin-bottom: 20px;
  font-size: 0.9rem;
  margin-top: 40px;
}

.associationPanel .remainingChars {
  font-size: 0.7rem;
  margin-top: -1rem;
  text-align: right;
}

.associationPanel .remainingChars .exceeded {
  color: red;
}

.associationPanel .textInput.activeField {
  border: 1px dashed #333;
  background-color: #DBDBDB;
  transition: background-color 300ms linear;
}

.associationPanel .textInput.inactiveField {
  background-color: #F9F9F9;
  transition: background-color 300ms linear;
}