
* {
  box-sizing:border-box;
}

html {
  margin:0px;
  padding:0px;
  background:gray;
  font-size:18px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  letter-spacing:1px;
}

body {
  padding:0px;
  margin:0px;
}

#root {
 
}

ul.stories {
  display:inline-block;
  list-style:none;
}
ul.stories li {
  margin: 10px;
  padding: 50px;
  border-radius: 25px;
  background: #F0F0F0;
  color: #717171;
  box-shadow: 2px 2px 2px #333;
}
ul.stories li:hover {
  cursor:pointer;
  color:#2eacdc;
  box-shadow: 2px 2px 2px #2eacdc;
}
ul.stories li:active {
  cursor:pointer;
  color:#2eacdc;
  box-shadow:none;
}


div.editorRoot {
  margin:0px auto;
  padding-top:50px;
}

nav.docControls {
  background-color: #b7b7b7;
  color: #484747;
  width:100%;
  border: 1px solid #6f5e5e;
  position: fixed;
  left: 0px;
  top: 0px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 14px;
  z-index:25;
}

nav.docControls ul {
  list-style-type:none;
  margin: 0 auto;
  padding: 0px;
  padding-left:20px;
  padding-right:20px;
  height:30px;
}

nav.docControls ul li {
  line-height:30px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 2px;
  font-size: 1rem;
  user-select: none;
}
nav.docControls ul li:hover {
  cursor:pointer;
  color:#333;
}

nav.docControls ul li svg.on {
  background-color:#FFF;
}

nav.docControls ul li span > span {
  font-size:0.7rem;
}


.custom-context {
  padding: 10px;
  background-color: #ffffc4;
  border-radius: 10px;
  border: 1.5px solid #333;
  outline: none;
  z-index: 10;
  font-size:11pt;
  font-family:Verdana, Tahoma, Geneva, sans-serif;
  letter-spacing:1px;
  color:#333;
}

.custom-context .selected {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  color: #909090;
  text-overflow: ellipsis;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.custom-context .item {
  user-select:none;
  cursor:pointer;
  padding-bottom:10px;
}
.custom-context .item .title:hover {
  color:#8c8c8c;
}
.custom-context .item.child .title:hover {
  text-decoration:underline;
}
.custom-context .item.child {
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
}
.custom-context .item.child.visible {
  display:block;
}
.custom-context .item.child.hidden {
  display:none;
}
.custom-context .item.parent.closed:before {
  content:'\2BC8'
}
.custom-context .item.parent.open:before {
  content:'\2BC6'
}
.custom-context .item:not(.parent):not(.child) {
  padding-left:14px;
}

/*
.editorRoot nav > div > svg {
  background: #585858;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin:3px;
}
.editorRoot nav > div > svg.on {
  background-color:gray;
}
.editorRoot nav > div > svg:hover {
  color:#333;
}
.editorRoot nav > div > span {
  vertical-align:top;
}
.editorRoot nav > div > span > svg,
.editorRoot nav > div > span > span { 
  vertical-align:middle;
}
.editorRoot nav > div > span > span {
  font-size:12px;
}

.customSelect > svg {
  border:none !important;
  width: 24px !important;
  height: 24px !important;
  cursor: pointer;
}

.customSelect {
  background-color:#585858;
  font-size:12px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  margin:3px;
  position:relative;
}

.customSelect ul {
  background: #333;
  position: absolute;
  left: 0px;
  list-style: none;
  padding: 0px;
  margin-top: 22px;
  border: 1px solid #000;
  width:100%;
}
.customSelect ul li {
  cursor:pointer;
  color:#c6c6c6;
  padding:3px;
}
.customSelect ul li:hover {
  color:#FFF;
}

.editorRoot nav select,
.editorRoot nav option,
.editorRoot nav input.selectable {
  background: #585858;
  color: #FFF;
  padding: 3px;
  border:1px solid #585858;
  margin:5px 5px;
  font-size:12px;
}
.editorRoot nav input.selectable {
  width:50px;
  margin-left:10px;
}
.editorRoot nav option["selected"] {
  background:#333;
}
*/
.documentContainer {
  height:100%;
}

.editorContainer section {
  font-size:12pt;
  line-height:2em;
  font-family:Arial, Helvetica, sans-serif;
  text-align:justify;
}

.editorContainer section.margins {
  width:100%;
  height:100%;
  border: 1px solid #000;
  background-color: #F1F1F1;
  margin-bottom:50px;
}
div.DraftEditor-root {
  height: 100%;
  width:100%;
  overflow-y: hidden;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  max-height:100%;
  overflow:hidden;
}

.align_left > div {
  text-align:left;
}
.align_right > div {
  text-align:right;
}
.align_center > div {
  text-align:center;
}
.align_justify > div {
  text-align:justify;
}
.lineheight_single {
  line-height:1;
}
.lineheight_medium {
  line-height:1.5;
}
.lineheight_double, .lineheight_double br {
  line-height:2;
}

.highlight {
  font-weight:bold;
  cursor:pointer;
  color:#6b2b2b;
}
.highlight:hover {
  text-decoration:underline;
}
.highlight.place {
  color:#3c9008
}
.highlight.event {
  color:#082c90;
}

.pop-panel {
  position: fixed;
  background-color: #fffdc5;
  left: 100%;
  top: 50px;
  width: 45%;
  height: 400px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #333;
  z-index: 100;
  opacity:0;
  transition: all 0.5s ease;
}

.pop-panel.emerge {
  opacity: 1;
  transform: translateX(-100%);
}
.pop-panel.flee {
  opacity:0;
  transform: translateX(100%);
}

.pop-panel .input-field {
  padding:15px;
  border-radius:15px;
  border: 1px solid #333;
  user-select:none;
  background:#f3f3f3;
  width:100%;
  resize:none;
  outline:none;
  margin-bottom:20px;
}

.pop-panel .buttonBox {
  color:#A26C63;
}

.pop-panel .buttonBox svg {
  border:1px solid #333;
  border-radius:5px;
  font-size: 36px;
  margin: 5px;
  cursor:pointer;
}
.pop-panel .buttonBox svg:hover {
  color:#333;
  border:1px solid #A26C63;
}


.document-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #000;
  height: 100%;
  z-index: 50;
  opacity: 0;
  transition: all 0.5s ease;
}
.document-mask.emerge {
  visibility:visible;
  opacity:0.5;
}
.document-mask.flee {
  visibility:hidden;
  opacity:0;
}