
* {
  box-sizing:border-box;
}

html, body {
  height:100%;
  margin:0px;
  background:gray;
  font-size:18px;
}

#root {
  height:100%;
}

div.editorRoot {
  margin:0px auto;
  margin-top:50px;
}

.editorRoot nav {
  background-color: #333;
  color: #FFF;
  padding: 5px;
  padding-bottom:10px;
  border-radius: 10px;
  border: 1px solid #000;
  position: fixed;
  left: 10px;
  top: 10px;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
}
.editorRoot nav svg {
  background: #585858;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin:3px;
}
.editorRoot nav svg:hover {
  color:#333;
}
.editorRoot nav svg.on {
  background-color:gray;
}

.editorRoot nav select, .editorRoot nav option, .editorRoot nav input.selectable {
  background: #585858;
  color: #FFF;
  padding: 3px;
  
}
.editorRoot nav input.selectable {
  width:50px;
  margin-left:10px;
}
.editorRoot nav option["selected"] {
  background:#333;
}

.documentContainer {
  height:100%;
}
section.margins {
  width:100%;
  height:100%;
  border: 1px solid #000;
  background-color: #F1F1F1;
  margin-bottom:50px;
}
div.DraftEditor-root {
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  width:100%;
  overflow-y: hidden;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  max-height:100%;
  overflow-y:hidden;
}

.alignLeft > div {
  text-align:left;
}
.alignCenter > div {
  text-align:center !important;
}
.alignRight > div{
  text-align:right;
}
.alignJustify > div {
  text-align:justify;
}
