footer h4 {
    display: flex;
    flex-direction: column;
}

footer h4 .logo {
    font-size: 1.4em;
    color: #78a4a4;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
    letter-spacing: 2px;
    margin: 0px;
    font-family: courier;
}

footer h4 .logo span {
    font-size: 1.2em;
}

footer h4 .logo img {
    max-height: 40px;
    vertical-align: middle;
    position: relative;
    top: -4px;
}

footer .logo .version {
    color: #c1e6e6;
    font-size: 0.5em;
    font-weight: bold;
    text-align: right;
    margin-top: -10px;
}

footer .logo .tld {
    font-size: 0.8em;
    color: #2d9ca2;
}