.configPanel {
    padding: 3rem;
    max-width: 500px;
    margin: 3rem auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #1a1a1a;
    text-align: center;
    color: #ddd;
    position: relative;
}

.configPanel .renewControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymentMethod {
    font-size: 0.7rem;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .configPanel {
        max-width: none;
        margin: 1rem;
        padding: 1rem;
        padding-top: 3rem;
    }

    .configPanel .renewControls {
        flex-direction: column;
    }

    .configPanel .renewControls button {
        margin-top: 1rem;
    }
}