.sideMenu {
    box-shadow: var(--shadow-dark);
    border: 2px solid var(--border-medium);
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    font-family: "Segoe Print";
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    box-sizing: border-box;
    background-color: var(--bg-toolbar);
}

.flyoutMenu {
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .flyoutMenu {
        width: 300px;
    }
}