header {
    display: grid;
    z-index: 5;
    width: 100%;
    background-color: #4F6464;
    grid-template-columns: auto auto;
    /* Two columns with automatic width */
    justify-content: space-between;
    /* Spread columns to opposite sides */
    align-items: center;
    /* Align items vertically (optional) */
    width: 100%;
    /* Ensure the container spans the full width */
    height: 100px;
    padding: 0px 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    line-height: 1rem;
}

header .leftPane {
    display: inline-flex;
    align-items: center;
}

header .storyInfo {
    font-size: 1.5em;
    text-align: left;
    margin-top: 10px;
    color: #f0f0f0;
}

header .seriesInfo {
    font-size: 0.8rem;
    margin-top: 3px;
    color: #ccc;
}

header .logoImage {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}