.storyForm {
    padding: 1rem;
    max-width: 800px;
    margin: 3rem auto;
    color: #ddd;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #1a1a1a;
}

.storyForm .header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.storyForm .header h5 {
    margin-top: 6px;
}

.storyForm .header button {
    color: #ddd;
}

.storyForm .header button:hover {
    color: #333;
}

.storyForm .content {
    display: flex;
    flex-wrap: wrap;
}

.storyForm .content .fieldRow {
    margin-bottom: 20px;
}

.storyForm .content .left {
    width: 300px;
    margin-right: 10px;
}

.storyForm .content .right {
    flex-grow: 1;
    text-align: left;
}

.storyForm .content .right label {
    width: 100px;
}

.storyForm .content .right input[type="text"],
.storyForm .content .right textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    color: #ddd;
    box-sizing: border-box;
    background-color: #4F6464;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #1a1a1a;
}

.storyForm .content .right input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

.storyForm .content .right textarea {
    height: 170px;
    resize: none;
}

.storyForm .controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.storyForm .controls button {
    color: #DDD;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.storyForm .controls button:hover {
    color: #F0F0F0;
    border: 1px solid #F0F0F0;
}