.chapterMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  color: var(--text-primary);
}

/* Light mode */
:global([data-theme="light"]) .chapterMenuItem {
  color: var(--text-primary-light);
}

.activeChapter {
  border: 1px dashed var(--primary);
  border-radius: 5px;
  background-color: var(--bg-secondary);
}

.leftItems {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  justify-content: space-between;
}

.outlineLabel {
  font-size: 0.7rem !important;
  height: 18px !important;
  padding: 3px;
  width: 100px;
  overflow: hidden;
}
