.association-ui-bg {
    z-index: 100;
}
.association-ui-container {
    width:80%;
    height:80%;
    background-color: #445c66;
    border-radius:15px;
    filter:drop-shadow(4px 4px 4px #1a1a1a);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow:hidden;
    overflow-y:scroll;
}
.association-ui-container h1 {
    font-size:1.5em;
    font-weight:normal;
    display:inline;
    margin-right:5px;
}

.association-ui-container .inline-editable-text {
    font-size:1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.association-ui-container .multiline-editable-text {
    
}

.association-ui-container .column {
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex:1;
}

.association-ui-container .portrait img {
    width:50%;
    border-radius:15px;
    filter:drop-shadow(4px 4px 4px #1a1a1a);
}

.association-ui-container .association-details {
    text-align:left;
}

.association-ui-container .association-details .detail-bubble {
    height: 200px;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 15px;
    margin-right: 30px;
    margin-bottom:20px;
    overflow:hidden;
    overflow-y:scroll;
}

@media only screen and (max-width: 600px) {
    .association-ui-container .portrait {
        margin-bottom:0;
        font-size:0.9rem;
    }
    .association-ui-container .portrait img {
        width:100%;
    }
    .association-ui-container {
        flex-direction: column;
        flex-wrap:nowrap;
    }
    .association-ui-container .column {
        flex-direction: row;
    }

    .association-ui-container .association-details {
        width:100%;
    }
    .association-ui-container .association-details .detail-bubble {
        margin-right:10px;
        margin-left:10px;
    }
    .association-ui-container .association-form {
        margin-left:10px;
        margin-right:10px;
        padding:15px;
    }
}