nav.rich-controls {
  width: 210mm;
  display: inline-block;
  text-align: left;
  padding: 10px;
  background: #545e55;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  z-index: 10;
  position: relative;
  margin-top: 10px;
  height: 60px;
  line-height: 40px;
}

nav.rich-controls:not(:hover) {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
nav.rich-controls:hover {
  opacity: 0.95;
  transition: opacity 0.2s ease-in-out;
}

nav.rich-controls button {
  text-align: center;
  margin: 0px 5px 0px 5px;
  font-size: 1em;
  padding: 5px;
  width: 34px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
}
nav.rich-controls button.active {
  filter: none;
  border: 1px solid black;
  background-color: gray;
}

nav.rich-controls .right-controls {
  float: right;
}

div.DraftEditor-root {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #f0f0f0;
  min-height: 400px;
  padding: 10px;
  margin: 10px auto;
  overflow-y: scroll;
  color: #000;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  max-height: calc(100vh - 250px);
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  line-height: 2em;
  padding: 1em;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content .content-block:last-child {
  padding-bottom: 40px;
}

.highlight {
  cursor: pointer;
}
.highlight:hover {
  opacity: 0.8;
}

.highlight.character {
  color: green;
}
.highlight.place {
  color: blue;
}
.highlight.event {
  color: red;
}

.editor_container {
  max-height: 100vh;
  width: 210mm;
  margin: 0 auto;
}

.title_info {
  color: #fff;
  margin-top: 65px;
}
.title_info span {
  display: inline-block;
  padding: 10px;
}
.title_info span:hover {
  border: 1px solid #333;
  border-radius: 10px;
}

.title_info h2 {
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  margin-bottom: 0;
}
.title_info h3 {
  margin: 0;
}

.public-DraftEditor-content .LEFT .public-DraftStyleDefault-ltr {
  text-align: left;
}
.public-DraftEditor-content .CENTER .public-DraftStyleDefault-ltr {
  text-align: center;
}
.public-DraftEditor-content .RIGHT .public-DraftStyleDefault-ltr {
  text-align: right;
}
.public-DraftEditor-content .JUSTIFY .public-DraftStyleDefault-ltr {
  text-align: justify;
  text-justify: auto;
  white-space: normal;
}

/*padding: 0.75rem 1.25rem;*/
@media only screen and (max-width: 600px) {
  .title_info h3 {
    margin: 5px;
  }
  div.DraftEditor-root {
    width: calc(100% - 60px);
    margin-left: 5px;
  }
  div.DraftEditor-editorContainer {
    padding: 0;
    width: calc(95% - 20px);
    user-select: none;
  }
  nav.rich-controls {
    height: initial;
    width: calc(100% - 60px);
    opacity: 1;
    margin-left: -50px;
    min-height: 160px;
  }
  nav.rich-controls .right-controls {
    float: none;
    display: block;
    position: absolute;
    top: 10px;
  }
  nav.rich-controls .controls-row {
    display: block;
    position: relative;
    top: 60px;
  }
  .editor_container {
    width: inherit;
  }
}
