nav.rich-controls {
    width: 210mm;
    display:inline-block;
    text-align: left;
    padding: 10px;
    background: #545e55;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
    z-index: 10;
    position: relative;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}

nav.rich-controls:not(:hover) {
    opacity:0.8;
    transition: opacity 0.2s ease-in-out;
}
nav.rich-controls:hover {
    opacity:0.95;
    transition: opacity 0.2s ease-in-out;
    
}

nav.rich-controls button { 
    text-align: center;
    margin: 0px 5px 0px 5px;
    font-size: 1em;
    padding: 5px;
    width: 34px;
    cursor:pointer;
    border-radius:5px;
    border:none;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
}
nav.rich-controls button.active {
    filter: none;
    border: 1px solid black;
    background-color: gray;
}

nav.rich-controls .right-controls {
    float:right;
}

div.DraftEditor-root {
    border: 1px solid #000;
    border-radius:10px;
    background-color: #F0F0F0;
    min-height: 400px;
    width:210mm;
    padding:10px;
    margin:10px auto;
    overflow-y: scroll;
    color:#000;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
    height:calc(100vh - 250px);
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content {
    height: 100%;
    line-height:2em;
    padding:1em;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content .content-block:last-child {
    padding-bottom:40px;
}

.highlight {
    cursor:pointer;
}
.highlight:hover {
    opacity:0.8;
}

.highlight.character {
    color:green;
}
.highlight.place {
    color:blue;
}
.highlight.event {
    color:red;
}

.editor_container {
    max-height:100vh;
}

.title_info {
    color:#FFF;
}
.title_info h2 {
    filter:drop-shadow(2px 2px 2px #1a1a1a);
    margin-bottom:0;
}
.title_info h3 {
    margin:0;
}

.public-DraftEditor-content .LEFT .public-DraftStyleDefault-ltr {
    text-align:left;
}
.public-DraftEditor-content .CENTER .public-DraftStyleDefault-ltr {
    text-align:center;
}
.public-DraftEditor-content .RIGHT .public-DraftStyleDefault-ltr {
    text-align:right;
}
.public-DraftEditor-content .JUSTIFY .public-DraftStyleDefault-ltr {
    text-align:justify;
    text-justify: auto;
    white-space:normal;
}

@media only screen and (max-width: 600px) {
    div.DraftEditor-root {
        width:90%;
    }
    div.DraftEditor-editorContainer {
        padding:0;
        width: calc(95% - 20px);
    }
    nav.rich-controls {
        height:initial;
        width: calc(70% - 20px);
        opacity:1;
    }
    nav.rich-controls .right-controls {
        position:absolute;
        top:0px;
        right:0px;
    }
    nav.rich-controls .controls-row {
        display:inline-block;
    }
}