.landing-page {
  color: #fff;
  text-align: center;
}

.create-story-button {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #495960;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  min-height: 300px;
}

.landing-page h2 {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 1024px;
  filter: drop-shadow(2px 2px 2px #1a1a1a);
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.landing-page .icon-box {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-start;
}

.landing-page .other-stories {
  width: 100%;
  text-align: left;
}
.landing-page .other-stories hr {
  margin-top: 50px;
  border: none;
  border-top: 1px solid #333;
}
.landing-page .other-stories p {
  text-align: left;
  font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
  .landing-page .icon-box {
    flex-direction: column;
  }

  .landing-page .icon-box button {
    max-width: none;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
  }
}
