.portrait-dropper {
    width:300px;
    margin:8px;
}
.portrait-dropper .portrait {
    margin:0;
}
.portrait-dropper .portrait img {
    max-width:100%;
    border-radius:15px;
    filter:drop-shadow(4px 4px 4px #1a1a1a);
}