.sidebar-container {
    position:fixed;
    right:-3px;
    top:0px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    color:#EFEFEF;
    z-index:100;
}

.sidebar-container .ps-sidebar-root {
    height:100vh;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border-left:none !important;
}
.sidebar-container .ps-sidebar-container {
    background-color: rgba(53, 48, 68, 0.7);
}
.sidebar-container .ps-menuitem-root {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sidebar-container .ps-menuitem-root:last-child a {
    cursor:default;
}
.sidebar-container .ps-menuitem-root a:hover {
    background-color:#2c2e46;
}
.sidebar-container .ps-menuitem-root:last-child {
    margin-top:10px;
}
.sidebar-container .ps-menuitem-root:last-child a:hover {
    background-color:initial;
}
.sidebar-container .ps-menuitem-root.active {
    background-color:#006880;
    font-weight: bold;
}
.sidebar-container .ps-menuitem-root .menu-icon {
    float:right;
    color:#FFF;
    margin-top:-1px;
}
.sidebar-container .ps-menuitem-root .menu-icon:hover {
    opacity:0.8;
}
.sidebar-container .ps-menuitem-root:last-child button {
    border:1px solid #FFF;
}
.sidebar-container .ps-rtl {
    border-left:none;
}
.sidebar-container .handle {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-size: 0.8rem;
    background-color: rgba(53, 48, 68, 0.7);
    border-left: 1px solid #EFEFEF;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    writing-mode: vertical-lr;
    width:20px;
    cursor:pointer;
}