nav.menu-container {
    display: inline;
    margin: 0 auto;
    z-index:99;
    position:absolute;
    top:10px;
    left:10px;
    border-radius:4px;
    text-align: left;
}

nav.menu-container .empty {
    opacity:0.5;
}

.checkbox-container {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    background: #182825;
}
  
  .checkbox-trigger {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    cursor: pointer;
    z-index: 5;
}
  
.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 40px;
    height: 4px;
    margin: 1.3em 3em;
    transition: background 0.3s;
}
  
.hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.7em 0 0;
    transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
}
  
.hamburger-menu::after {
    margin-top: 0.7em; 
}
  
.hamburger-menu {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 1.45em;
    margin-right: 0.35em;
    margin-left: 0.35em;
    margin-bottom: 1.45em;
    transition: width 0.3s ease;
}
  
.checkbox-trigger:checked {
    left: 250px;
}
  
.checkbox-trigger:checked + .menu-content .hamburger-menu {
    width: 2em;
    transition: width 0.7s ease 0.7s;
}
  
.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
    width: 1.2em;
    transform: rotate(-35deg);
    margin-top: -0.4em;
}
  
.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
    width: 1.2em;
    transform: rotate(35deg);
    margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
    width: 250px;
    max-height:400px;
    transition: max-height 0.4s ease-in, width 0.4s ease-in;
    overflow-y:scroll;
}
  
.menu-content {
    display: flex;
    background: #182825;
    color: white;
    float:left;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
}

.menu-content ul {
    display: block;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    width: 0px;
    height: auto;
    max-height:0px;
    overflow:hidden;
    transition: max-height 0.4s ease-in, width 0.4s ease-in;
}
.menu-content ul ul {
    padding-bottom: 0;
}
  
.menu-content ul li {
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
    padding-top: 0em;
    padding-left:0.5em;
    margin-bottom: 1em;
    transition: color 0.5s, background 0.5s;
}
.menu-content ul li ul li {
    padding-left:1em;
}
.menu-content ul li ul li ul li {
    padding-left:1em;
}
.menu-content ui li:last-child {
    margin-bottom:0;
}

.menu-content ul label {
    cursor: default;
    display:block;
    white-space: nowrap;
    padding-top: 1em;
    padding-left:1em;
    padding-bottom: 1em;
    transition: color 0.5s, background 0.5s;
}
.menu-content ul .MuiTreeItem-label:hover {
    opacity:0.8;
}

.sidebar-button button {
    background: transparent;
    border: none;
    color: #FFF;
}