.doc-button {
    max-width: 200px;
    background:none;
    border:none;
    color:#eaeaea;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
    letter-spacing: 1.5px;
    text-align: center;
    margin:40px;
    margin-bottom:0px;
    position:relative;
}

.doc-button:hover {
    cursor:pointer;
    color:#FFF;
}

.doc-button:hover img:not(.series_badge) {
    box-shadow: 0 0 50px rgb(217, 253, 162);
}

.doc-button img {
    width:100%;
    height:auto;
    filter: drop-shadow(2px 2px 2px #1a1a1a);
    vertical-align: top;
    max-height: 100%;
}

.doc-button img.series_badge {
    position:absolute;
    right:5px;
    top:5px;
    max-width: 40px;
}

.doc-button .story-text {
    display:flex;
    align-content: center;
}

.doc-button .story-text .icon-delete-btn {
    margin-left:auto;
}
