.user-menu {
    position:absolute;
    top:10px;
    left:10px;
}

.user-menu > a {
    font-size:0.8rem;
    color:#F0F0F0;
    cursor:pointer;
    border: 1px solid #F0F0F0;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    top: 10px;
}
.user-menu > a:hover {
    color:#FFF;
}

.menu-container {
    position: absolute;
    text-align: left;
    z-index: 100;
}

.user-menu .menu-container .icon {
    text-align: center;
    border:1px solid #FFF;
    border-radius:50%;
    width:35.5px;
    height:32.5px;
    display:inline-block;
}
.user-menu .menu-container .label {

}

.user-menu .menu-container ul {
    text-align: center;
    list-style: none;
    color:#FFF;
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #333;
    font-size: 0.8rem;
    padding:0;
    margin:0;
    margin-top:5px;
}
.user-menu .menu-container ul li {
    border-bottom:1px solid #333;
    width:100px;
    background-color:#515d57;
    cursor:pointer;
    position:relative;
    padding:5px;
}
.user-menu .menu-container ul li:hover {
    background-color:#40554b;
}
